.continueBtn {
  width: 100%;
  font-size: 2rem;
  background-color: red;
  color: #fff;
  margin-top: 2rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
}
