.profilesBtn {
  width: 100%;
  color: #929292;
  font-size: 2rem;
  background-color: transparent;
  padding: 1rem 3rem;
  border: 0.1rem solid #929292;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
