@use '@/sass/abstracts' as *;
@use '@/sass/abstracts/mixins/name-input-mixin' as *;

.addProfilesWrapper {
  @include flex-config($direction: column, $align: center);
  padding: 10rem 0;
}

.profileHeading {
  font-size: var(--size-heading-md);
}

.profileSecondaryHeading {
  font-size: var(--size-heading-sm);
  margin-top: 1rem;
  padding: 0 2rem;
  text-align: center;
}

.profileFormWrapper {
  @include flex-config($justify: center, $align: center);
  background-color: rgba(37, 37, 37, 0.4);
  padding: 5rem 3rem;

  @include respond(md) {
    padding: 10rem;
  }
}

.icon {
  font-size: 4rem;
}

@include nameInputMixin;

.ctaWrapper {
  width: 90%;

  @include respond(md) {
    width: 50%;
  }

  @include respond(lg) {
    width: 35%;
  }
}

.continueBtn {
  margin-bottom: 1rem;
}
