@use '@/sass/abstracts' as *;
@use '@/sass/abstracts/mixins/user-profiles-mixin' as *;

@include userProfiles;

.addIcon {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #0000ff;
}

.profileParagraph {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
