@use '@/sass/abstracts/' as *;

:root {
  --clr-white: #fff;
  --clr-red: #e50914;

  @include respond(sm) {
    --section-spacing: 10rem;
  }

  @include respond(md) {
    --section-spacing: 20rem;
  }
}
