@use '@/sass/abstracts' as *;

.modal {
  @include position($pos: fixed, $top: 50%, $left: 50%);
  width: 95%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg-color);
  color: var(--clr-white);
  z-index: 1001;
  overflow-y: scroll;

  @include respond(md) {
    width: 70%;
    height: 90vh;
  }

  @include respond(lg) {
    width: 50%;
  }
}

.close {
  @include position($pos: absolute, $top: 2rem, $right: 2rem);
  font-size: 2rem;
  z-index: 2000;
  cursor: pointer;
}

.modalTopOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(11, 11, 12, 0.5);
  z-index: 1002;
}

.modalTop {
  position: relative;
}

.modalTopCta {
  @include position($pos: absolute, $left: 5%, $bottom: 10%);
  z-index: 1003;
}

.movieHeading {
  font-size: clamp(2rem, 3vw + 0.1rem, 4.6rem);
  padding-right: 2rem;
}

.playBtn {
  font-size: clamp(1rem, 2vw + 0.1rem, 1.8rem);
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;

  @include respond(md) {
    padding: 1.5rem 3rem;
  }
}

.playIcon {
  margin-right: 1rem;
}

.modalImg {
  width: 100%;
  background-size: cover;
}

.movieInfo {
  display: flex;
  padding: 5rem 5%;
}

.movieInfoLeft {
  flex: 1;
}

.movieInfoRight {
  flex: 1;
  text-align: right;
}

.infoLists {
  @include flex-config($direction: column);
}

.releaseYear {
  font-size: 2rem;
}

.overview {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.infoHeading {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.listItem {
  font-size: 1.3rem;
  margin-top: 0.3rem;
}
