@use '@/sass/abstracts' as *;

.setUpAccount {
  margin: 10rem auto;

  @include respond(md) {
    width: 80%;
  }

  @include respond(lg) {
    width: 50%;
    margin: 15rem auto;
  }
}

.infoParagraph {
  font-size: 2rem;
}

.span {
  font-weight: 700;
}

.infoHeading {
  font-size: var(--size-heading-lg);
  padding: 2rem 0;
}

.infoHeadingSecondary {
  font-size: var(--size-heading-md);
  font-weight: 400;
}

.signUpForm {
  @include flex-config($display: flex, $direction: column);
  width: 100%;
  margin-top: 2rem;
}
