@use '@/sass/abstracts' as *;

.wrapper {
  width: 100%;
  background-color: var(--clr-gray-dark);

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.accordion {
  @include flex-config($justify: space-between, $align: center);
  cursor: pointer;
  padding: 1rem;
  text-align: start;
  font-weight: normal;
}

.title {
  font-size: 1.6rem;
  color: var(--clr-white);
  padding-right: 1rem;
  font-weight: normal;
}

.accordionIcon {
  font-size: 2rem;
}

.content {
  font-size: 1.4rem;
  color: var(--clr-white);
  padding: 1rem;
  border-top: 1px solid var(--clr-black);
  text-align: start;
  font-weight: normal;
}
