@use '@/sass/abstracts' as *;

.heroContent {
  position: relative;
  width: 70%;
  margin-top: 15rem;
  color: var(--clr-white);
  z-index: 6;
}

.heroPrimaryHeading {
  font-size: var(--size-heading-lg);
  letter-spacing: 0.5rem;
}

.heroSecondaryHeading {
  font-size: var(--size-heading-md);
  margin-top: 1rem;
}

.heroCta {
  margin-top: 2rem;
  padding-bottom: 2rem;

  @include respond(sm) {
    width: 50%;
  }

  @include respond(lg) {
    width: 30%;
  }
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  padding: 2rem 3rem;
  width: 100%;
  border: none;
  cursor: pointer;

  &--info {
    background-color: rgba(109, 109, 110, 0.9);
    color: var(--clr-white);
    margin-top: 1rem;
  }
}

.btnSpan {
  margin-right: 1rem;
}
