@use '@/sass/abstracts' as *;

.heroContent {
  color: var(--clr-white);
  margin-top: 10rem;
  padding: 0 2rem;
  text-align: center;
}

.headingPrimary {
  font-size: var(--size-heading-lg);
}

.heroSecondaryHeading {
  font-size: var(--size-heading-md);
  margin: 1rem 0;
}

.heroTertiaryHeading {
  font-size: var(--size-heading-sm);
}

.heroForm {
  width: 100%;
}
