@use '@/sass/abstracts' as *;

.homeSectionTextContainer {
  padding: 0 2rem;

  @include respond(md) {
    width: 50%;
  }
}

.homeSectionHeading {
  font-size: var(--size-heading-lg);
  margin-bottom: 2rem;
}

.homeSectionSubHeading {
  font-size: var(--size-heading-md);
}
