@use '@/sass/abstracts/' as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @include respond(md) {
    max-width: 102.4rem;
    padding: 0 3rem;
  }

  @include respond(lg) {
    max-width: 128rem;
  }
}
