@use '@/sass/abstracts' as *;

.footer {
  background-color: var(--main-bg-color);
  color: var(--clr-gray-medium);
}

.footerWrapper {
  @include flex-config($direction: column, $align: center);
  padding: 5rem 0;
}

.footerImg {
  width: 15rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.pngCredit {
  margin-top: 0.5rem;
}
