@use '@/sass/abstracts' as *;

@mixin userProfiles {
  .userProfilesWrapper {
    @include flex-config($direction: column, $align: center);
    padding: 10rem 0;
  }

  .profilesHeading {
    font-size: var(--size-heading-md);
  }

  .profiles {
    @include flex-config($wrap: wrap, $justify: center, $align: center);
    width: 100%;
    gap: 2rem;
    padding: 10rem 0;
  }
}
