@use '@/sass/abstracts' as *;

@mixin userProfiles {
  .userProfilesWrapper {
    @include flex-config($direction: column, $align: center);
    padding: 10rem 0;
  }

  .profilesHeading {
    font-size: var(--size-heading-md);
  }

  .userProfiles {
    @include flex-config($wrap: wrap, $justify: center, $align: center);
    width: 100%;
    gap: 2rem;
    padding: 10rem 0;
    /*   grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    padding: 10rem 0; */
  }
}
