@use '@/sass/abstracts' as *;

.movieCard {
  position: relative;
}

.movieCardOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.5);
}

.movieCardIcons {
  @include position($pos: absolute, $bottom: 1rem, $left: 10%);
  @include flex-config($justify: space-around);
  width: 80%;
  font-size: 2rem;
  z-index: 20;
}

.cardIcon {
  cursor: pointer;
}
