@use '@/sass/abstracts' as *;

.header {
  @include position($pos: fixed, $top: 0);
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.5));
  z-index: 10;
}

.nav {
  @include flex-config($justify: space-between, $align: center);
  @include nav-container;
  width: 100%;
  margin: 0 auto;
}

.navLeft {
  @include flex-config($align: center);

  @include respond(md) {
    flex: 1;
  }
}

.browseBtn {
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--clr-white);
  margin-left: 1rem;
  border: none;
}

.navLinks {
  @include position($pos: absolute, $top: 8rem, $left: 7rem);
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--clr-white);
  padding: 5rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 0.5rem 0.1rem 0.1rem;

  @include respond(md) {
    @include flex-config($justify: space-around);
    position: initial;
    width: 50%;
    background-color: transparent;
    padding: 0;
    border: none;
  }
}

.navLinksItem {
  &:not(:first-child) {
    margin-top: 4rem;
  }

  @include respond(md) {
    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

.navRight {
  @include flex-config($justify: flex-end, $align: center);
  position: relative;
  width: 50%;
  font-size: 1.8rem;
  color: var(--clr-white);
}

.searchInput {
  @include position($pos: absolute, $bottom: -1rem, $right: 6rem);
  width: 15rem;
  margin-right: 1rem;
  padding: 0.25em 0.5em;
  background-color: rgb(37, 37, 37);
  color: var(--clr-white);
  border: none;

  @media (max-width: 14.375em) {
    display: none;
  }

  @include respond(sm) {
    width: 20rem;
  }
}

.navRightIconSearch {
  cursor: pointer;
  margin-right: 1.5rem;

  @media (max-width: 14.375em) {
    display: none;
  }
}

.navRightIcon {
  cursor: pointer;
}

.profilesDropdown {
  @include position($pos: absolute, $top: 5rem, $right: 2rem);
  @include flex-config($direction: column);
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--clr-white);
  padding: 1rem;
}

.dropdownProfile {
  @include flex-config($align: center);
  border-bottom: 1px solid var(--clr-gray-medium);
  padding-bottom: 1rem;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.dropdownProfileIcon {
  font-size: 2rem;
}

.dropdownProfileName {
  margin-left: 1rem;
  padding-right: 5rem;
}
