@use '@/sass/abstracts' as *;

.browse {
  background-color: var(--main-bg-color);
}

.hero {
  min-height: 100vh;
  /* Image background on mobile to not waste users internet */
  background-image: url('@/assets/images/cinema.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-white);
  overflow: auto;

  @include respond(md) {
    background-image: none;
  }
}

.video {
  display: none;

  @include respond(md) {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    inset: 0;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(34, 33, 32, 0.6);
  z-index: 5;
}
