@use '@/sass/abstracts/' as *;
@use '@/sass/base/typography' as *;
@use '@/sass/utilities/' as *;

.hero {
  @include flex-config($direction: column, $justify: center);
  position: relative;
  background-image: url('@/assets/images/netflix-background.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 2rem 10rem 2rem;
  border-bottom: 0.8rem solid var(--clr-gray-dark);

  @include respond(lg) {
    min-height: 80vh;
  }
}

.homeSectionTextContainer {
  padding: 0 2rem;

  @include respond(md) {
    width: 50%;
  }
}

.imgContainer {
  position: relative;
  width: 60%;
  margin-top: 5rem;
  z-index: 100;

  @include respond(md) {
    width: 30%;
    margin-top: 0;
  }
}

.outsideImg {
  width: 100%;
  height: 100%;
}

.inside {
  @include position($pos: absolute, $top: 0, $left: 0);
  width: 100%;
  height: 90%;
  z-index: -1;
  object-fit: cover;
}

.phoneOutside {
  position: relative;
  width: 80%;
  margin: 0 auto 2rem auto;
}

.phoneInside {
  @include position($pos: absolute, $top: 10%, $left: 20%);
  width: 60%;
  height: 80%;
  z-index: -1;
}

.insideImac {
  @include position($pos: absolute, $top: 6%, $left: 8%);
  width: 80%;
  height: 70%;
  z-index: -1;
  object-fit: cover;
}

.imacOutsideIphone {
  @include position($pos: absolute, $bottom: -5rem);
  width: 8rem;
}

.accordionHeading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.faqWrapper {
  @include flex-config($direction: column, $align: center, $justify: center);
}

.formHeading {
  font-size: 2rem;
  margin: 3rem;
}

.faqFormWrapper {
  width: 100%;
}

.credit {
  text-align: center;
}
