@use '@/sass/abstracts/mixins/movie-card-grid' as *;

.main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--clr-white);
}

.movieCardsGrid {
  @include movieCardGrid;
  margin-top: 10rem;
}
