@use '@/sass/abstracts' as *;

.main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--clr-white);
}

.movieCardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
  margin-top: 10rem;

  @include respond(sm) {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
  }
}
