@use '@/sass/abstracts' as *;

.profiles {
  @include flex-config($justify: center, $align: center);
  position: relative;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--clr-white);
}
