@use '@/sass/abstracts' as *;

.signIn {
  @include flex-config($align: center, $justify: center);
  position: relative;
  min-height: 100vh;
  background-image: url('@/assets/images/netflix-background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
}

.main {
  @include flex-config($justify: center, $align: center);
  width: 100%;
}

.signInForm {
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  margin: 10rem;
  padding: 5rem;
  z-index: 5;

  @include respond(md) {
    width: 80%;
    padding: 10rem;
  }

  @include respond(lg) {
    width: 60%;
  }
}
